NODE_ENV=development
APP_PORT=5000
ENCRYPTION_KEY=
SESSION_SECRET=

#Sentry
SENTRY_DSN=

# Database Configuration
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=postgres
POSTGRES_PORT=5432
POSTGRES_HOST=postgres


# firebase config ( AVAILABLE AT TECH>BACKEND>FIREBASE CONFIG VARIABLES)
FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=
FIREBASE_MESSAGING_SENDER_ID=
FIREBASE_APP_ID=


#service acount firebase
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=


WHOOP_CLIENT_ID=
WHOOP_CLIENT_SECRET=
WHOOP_AUTHORIZE_URL=https://api.prod.whoop.com/oauth/oauth2/auth
WHOOP_TOKEN_URL=https://api.prod.whoop.com/oauth/oauth2/token

ECR_REGISTRY=
ECR_IMAGE_NAME=
ECR_IMAGE_TAG=
AWS_REGION=