NODE_ENV=production
APP_PORT=5000

#Sentry
SENTRY_DSN=""

# Database Configuration
POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
POSTGRES_DB=mydb
POSTGRES_PORT=5432


WHOOP_CLIENT_ID=
WHOOP_CLIENT_SECRET=
WHOOP_AUTHORIZE_URL=https://api.prod.whoop.com/oauth/oauth2/auth
WHOOP_TOKEN_URL=https://api.prod.whoop.com/oauth/oauth2/token
WHOOP_REDIRECT_WEB=https://yourdomain.com/api/auth/whoop/callback
WHOOP_REDIRECT_MOBILE=yourapp://auth/callback/whoop