NODE_ENV=development
APP_PORT=5000
ENCRYPTION_KEY=
SESSION_SECRET=

#Sentry
SENTRY_DSN=""

# Database Configuration
POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
POSTGRES_DB=mydb
POSTGRES_PORT=5432

#Frontend
WEB_FRONTEND_URL=http://localhost:3000
MOBILE_FRONTEND_URL=http://localhost:8081

# firebase config ( AVAILABLE AT TECH>BACKEND>FIREBASE CONFIG VARIABLES)
FIREBASE_API_KEY=your-api-key
FIREBASE_AUTH_DOMAIN=your-project-id.firebaseapp.com
FIREBASE_PROJECT_ID=your-project-id
FIREBASE_STORAGE_BUCKET=your-project-id.appspot.com
FIREBASE_MESSAGING_SENDER_ID=your-messaging-sender-id
FIREBASE_APP_ID=your-app-id

#service acount firebase
FIREBASE_CLIENT_EMAIL= 
FIREBASE_PRIVATE_KEY= "-----BEGIN PRIVATE KEY-----\nYOUR-PRIVATE-KEY\n-----END PRIVATE KEY-----\n"


#Whoop
WHOOP_CLIENT_ID=
WHOOP_CLIENT_SECRET=
WHOOP_AUTHORIZE_URL=https://api.prod.whoop.com/oauth/oauth2/auth
WHOOP_TOKEN_URL=https://api.prod.whoop.com/oauth/oauth2/token